body {
  background: #cfcfcf;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 6px;
}

.title {
  background: #e3f4ff;
  padding: 6px;
  margin: 4px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 6px;
  margin: 4px;
}

.button-container {
  background: #e3f4ff;
  padding: 6px;
  margin: 4px;
  text-align: center;
  text-wrap: initial;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  margin: 0 auto;
}